<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857024326881-jqd3i8bcm6ah4p1gbrnbpirleh86oat6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857024326881-jqd3i8bcm6ah4p1gbrnbpirleh86oat6</string>
	<key>API_KEY</key>
	<string>AIzaSyAvx3Epv4Foyksh7qH42WHyGJsCnxSXuQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>857024326881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scram.mobile.ally.stage</string>
	<key>PROJECT_ID</key>
	<string>ally-poc-957b2</string>
	<key>STORAGE_BUCKET</key>
	<string>ally-poc-957b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857024326881:ios:9ee2999f4d0fd3080c9ba0</string>
	<key>DATABASE_URL</key>
	<string>https://ally-poc-957b2.firebaseio.com</string>
</dict>
</plist>